@import "./vars";
@import "personalInfo";
@import "header";
@import "opleidingen-werkervaring";
@import "skills";
@import "talen-extra-sociaal.scss";

@import url(//db.onlinewebfonts.com/c/4724e6235ecb66e8330a90b545236592?family=Interstate);

@import url(//db.onlinewebfonts.com/c/076a573a702ec65cfb1f69588b89f12a?family=InterstateBold);

@import url(//db.onlinewebfonts.com/c/5d7571268a2cc4dcdd56140df04d77d0?family=InterstateLight);

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

h1 {
  font-family: interstate;
  padding-left: $paddingTextLeft;
  margin: $marginTopBottomDouble;
  font-size: $h1TextSize;
}

h2 {
  font-family: interstate;
  padding-left: $paddingTextLeft;
  margin: $marginTopBottomDouble;
  font-size: $h2TextSize;
  font-style: italic;
  text-decoration: underline $pink;
  text-underline-position: under;
}

h3 {
  font-family: interstate;
  padding-left: $paddingTextLeft;
  margin: $marginTopBottomDouble;
  font-size: $h3_p_TextSize;
  line-height: $pLineHeight;
}

h4 {
  font-family: interstate;
  padding-left: $paddingTextLeft;
  margin: $marginNone;
  font-size: $h3_p_TextSize;
  line-height: $pLineHeight;
}

h5 {
  @include marginPaddingFontCombi();
  font-size: $h3_p_TextSize;
  line-height: $pLineHeight;
}

ul {
  padding: 0px;
  margin: $marginUl;
}

li {
  @include marginPaddingFontCombi();
  font-size: $h3_p_TextSize;
  line-height: $pLineHeight;
  list-style: none;
}

.listItemLight {
  @include marginPaddingFontCombi();
  font-size: $h3_p_TextSize;
  line-height: $pLineHeight;
  list-style: none;
}

span {
  font-family: $fontInterstate;
}
